:root {
  --clr-primary-soft-red: hsl(7, 99%, 70%);
  --clr-primary-yellow: hsl(51, 100%, 49%);
  --clr-primary-dark-desaturated-cyan: hsl(167, 40%, 24%);
  --clr-primary-dark-blue: hsl(198, 62%, 26%);
  --clr-primary-dark-moderate-cyan: hsl(168, 34%, 41%);

  --clr-neutral-very-dark-desaturated-blue: hsl(212, 27%, 19%);
  --clr-neutral-very-dark-grayish-blue: hsl(213, 9%, 39%);
  --clr-neutral-dark-grayish-blue: hsl(232, 10%, 55%);
  --clr-neutral-grayish-blue: hsl(210, 4%, 67%);
  --clr-neutral-white: hsl(0, 0%, 100%);

  --ff-barlow: "Barlow", sans-serif;
  --ff-fraunces: "Fraunces", serif;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--clr-neutral-white);
  font-family: var(--ff-barlow);
  min-height: 100vh;
  font-size: 1.125rem;
  font-weight: 600;
}

h1 {
  font-family: var(--ff-fraunces);
  color: var(--clr-neutral-white);
  font-weight: 900;
  font-size: 2.5rem;
  letter-spacing: 7px;
  padding-top: 1.3em;
  text-transform: uppercase;
}

h2 {
  color: var(--clr-neutral-very-dark-desaturated-blue);
  font-family: var(--ff-fraunces);
  font-size: 2rem;
  padding: 1em 0.5em;
}

p {
  color: var(--clr-neutral-dark-grayish-blue);
  line-height: 1.7;
  padding-bottom: 1.5em;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  display: block;
}

img {
  max-width: 100%;
  display: block;
}

.flex {
  display: flex;
}

.container {
  max-width: 375px;
  margin: 0 auto;
  padding: 0 2em;
}

header {
  background-image: url(/images/mobile/image-header.jpg);
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 40vh;
  padding-inline: 1.5em;
  text-align: center;
}

.navigation {
  align-items: center;
  justify-content: space-between;
}

.logo {
  margin-block: 2em;
}

.nav-list {
  padding-right: 1em;
  align-items: baseline;
  gap: 1rem;
  position: fixed;
}

.nav-list li {
  padding: 0.5em;
}

.nav-list a {
  color: var(--clr-neutral-white);
}

.contact-btn {
  border-radius: 50px;
  background: var(--clr-neutral-white);
  margin-left: 1em;
}
.contact-btn a {
  color: var(--clr-neutral-very-dark-desaturated-blue);
  font-family: var(--ff-fraunces);
  font-weight: 600;
  font-size: 1rem;
  padding: 0.5em 1em;
  text-transform: uppercase;
}

.mobile-nav-toggle {
  position: absolute;
  background: url(/images/icon-hamburger.svg);
  background-repeat: no-repeat;
  width: 2rem;
  aspect-ratio: 1;
  top: 2.5rem;
  right: 2rem;
  border: none;
}

.nav-list {
  display: none;
}

/* @media screen and (min-width: 420px) {
  header {
    background-image: url(/images/desktop/image-header.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 50vh;
  }
} */

.content-section {
  padding: 2em 1.5em;
  text-align: center;
}

.btn {
  font-size: 1rem;
  text-transform: uppercase;
  font-family: var(--ff-fraunces);
  color: var(--clr-neutral-very-dark-desaturated-blue);
  margin-bottom: 2em;
}

.egg-btn {
  position: relative;
}

.egg-btn::after {
  content: "";
  position: absolute;
  display: block;
  width: 8rem;
  height: 0.5rem;
  top: 55%;
  left: 30%;
  border-radius: 100px;
  background-color: var(--clr-primary-yellow);
  z-index: -1;
}

.cup-btn {
  position: relative;
}

.cup-btn::after {
  content: "";
  position: absolute;
  display: block;
  width: 8rem;
  height: 0.5rem;
  top: 55%;
  left: 30%;
  border-radius: 100px;
  background-color: var(--clr-primary-soft-red);
  z-index: -1;
}

.mix {
  flex-wrap: wrap;
}
